body {
    background-color: rgb(128, 70, 49);
}

h1 {
    color: rgb(255, 250, 178);
    text-align: center
}

ul {
    margin-left: 10%;
    text-align: left;
    list-style-position: inside;
    color:rgb(255, 250, 178)
}

a {
    color:rgb(201, 168, 60)
}